.navbar {
    position: absolute;
    top: calc(50% - 5rem);
    left: 0;
    display: flex;
    flex-direction: column;
    color: var(--nav-text);
    user-select: none;
    z-index: 41;
    scrollbar-width: none;
    ::-webkit-scrollbar {
        display: none;
    }
    & li {
        position: relative;
        height: 2rem;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-inline: 0.4rem;
        gap: 0.5rem;
        box-sizing: border-box;
        transition: background var(--transition-nav-li);
        user-select: none;
        cursor: pointer;
        & svg {
            width: 1.5rem;
            opacity: 1;
            transition: opacity var(--transition-global);
            & path,
            & polygon {
                fill: var(--gray0);
            }
            &.hide {
                opacity: 0;
            }
        }
        & span {
            width: auto;
            overflow: hidden;
            text-align: center;
        }
        &:hover {
            background: rgba(21, 79, 138, 0.84);
            transition: background 0s;
            & > ul {
                opacity: 1;
                pointer-events: all;
                transition: opacity 0.3s;
            }
        }
    }
    & ul {
        position: absolute;
        inset: 0 auto auto 100%;
        max-width: 8rem;
        padding: 0;
        list-style: none;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
    }
    & > ul {
        position: initial;
        max-height: 0vh;
        width: 5rem;
        margin: 0 0 -2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: opacity 1s, max-height var(--transition-global),
            padding var(--transition-global);
        & > li {
            height: 0;
            width: 5rem;
            padding: 0;
            justify-content: center;
            transition: width var(--transition-global),
                height var(--transition-global),
                background var(--transition-nav-li),
                margin var(--transition-global),
                min-width var(--transition-global);
            & > svg {
                position: absolute;
                transform: translateX(0);
                transition: transform var(--transition-global),
                    opacity var(--transition-global);
            }
            & > span {
                width: 100%;
                opacity: 0;
                margin-left: 2rem;
                transform: scaleX(0);
                transform-origin: left;
                transition: opacity var(--transition-global),
                    transform var(--transition-global);
            }
            &:hover {
                transition: width var(--transition-global),
                    height var(--transition-global), background 0s,
                    margin var(--transition-global),
                    min-width var(--transition-global);
            }
        }
        &:hover {
            & > li {
                width: 8rem;
                margin-left: 3rem;
                & > svg {
                    transform: translateX(-2.5rem);
                }
                & > span {
                    opacity: 1;
                    transform: scaleX(1);
                }
            }
        }
    }
    & .nav-logo-back {
        position: relative;
        height: 2.5rem;
        width: 5rem;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 2.5rem 2.5rem 0 0;
        cursor: grab;
        transform: scale(1);
        transform-origin: top left;
        transition: border-radius var(--transition-global),
            transform var(--transition-global);
    }
    & .nav-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.7);
        overflow: hidden;
        transform: scale(1);
        transform-origin: top left;
        transition: margin-top 1s, border-radius var(--transition-global),
            transform var(--transition-global);
        z-index: 11;
        & span {
            background: var(--title-gradient);
            background-size: 200% auto;
            background-clip: text;
            color: transparent;
            font-size: 4rem;
            font-weight: bold;
            text-transform: uppercase;
            scale: 1.1 1;
            animation: shine 15s linear infinite;
        }
        & .waves {
            right: -1rem;
            bottom: 0.6rem;
        }
        & * {
            pointer-events: none;
        }
    }
    &:hover:not(.up) {
        & .nav-logo {
            margin-top: 0;
            border-radius: 0 0 50% 50%;
        }
        & > ul {
            max-height: 90vh;
            padding-bottom: 2.5rem;
            opacity: 1;
            pointer-events: all;
            transition: opacity 0.1s, max-height var(--transition-global),
                padding var(--transition-global);
            & > li {
                height: 2rem;
            }
        }
    }
    &.up {
        & > ul {
            transition: opacity 0.3s, max-height 0.2s ease,
                padding var(--transition-global);
        }
        &.top {
            & .nav-logo-back {
                border-radius: 0;
            }
            & .nav-logo {
                border-radius: 0 0 50% 50%;
            }
        }
        &.bottom {
            & .nav-logo {
                border-radius: 50% 50% 0 0;
            }
        }
    }
    &.right {
        left: auto;
        right: 0;
        & li {
            flex-direction: row-reverse;
            & > ul {
                inset: 0 100% auto auto;
            }
        }
        & > ul {
            &:hover > li {
                margin: 0 3rem 0 0;
                & > svg {
                    transform: translateX(2.5rem);
                }
                & > span {
                    margin: 0 2rem 0 0;
                }
            }
        }
        & .nav-logo-back {
            border-radius: 2.5rem 0 0 0;
        }
        & .nav-logo {
            border-radius: 50% 0 0 50%;
        }
        &.top {
            top: 0;
            & .nav-logo-back {
                border-radius: 0;
            }
            & .nav-logo {
                border-radius: 0 0 0 50%;
            }
        }
        &.bottom .nav-logo {
            border-radius: 50% 0 0 0;
        }
        &:hover:not(.up) .nav-logo {
            border-radius: 0 0 0 50%;
        }
        & ~ main .tab {
            margin-right: 3rem;
            width: calc(100% - 3rem);
        }
    }
    &.left {
        left: 0;
        & .nav-logo-back {
            border-radius: 0 2.5rem 0 0;
        }
        & .nav-logo {
            border-radius: 0 50% 50% 0;
        }
        &.top {
            top: 0;
            & .nav-logo-back {
                border-radius: 0;
            }
            & .nav-logo {
                border-radius: 0 0 50% 0;
            }
        }
        &.bottom .nav-logo {
            border-radius: 0 50% 0 0;
        }
        &:hover:not(.up) .nav-logo {
            border-radius: 0 0 50% 0;
        }
        & ~ main .tab {
            margin-left: 3rem;
            width: calc(100% - 3rem);
        }
    }
    &.bottom.left,
    &.bottom.right {
        bottom: 0;
        top: auto;
        &:hover:not(.up) .nav-logo {
            border-radius: 0;
        }
    }
    &.top:not(.left, .right, .up),
    &.bottom:not(.left, .right, .up) {
        inset: 0 0 auto 0;
        height: 2rem;
        flex-direction: row;
        align-items: flex-start;
        pointer-events: none;
        & .nav-logo-back {
            position: absolute;
            height: 5rem;
            border-radius: 0;
            pointer-events: all;
            transform: scale(0.4);
        }
        & .nav-logo {
            position: absolute;
            border-radius: 0;
            transform: scale(0.4);
        }
        & ul {
            inset: 0 auto auto 100%;
            width: 100%;
        }
        & li {
            height: 2rem;
            margin-left: 0;
            padding-inline: 0.2rem;
            justify-content: space-between;
            gap: 0.5rem;
            & svg {
                position: inherit;
            }
            & span {
                width: auto;
                margin: 0;
                opacity: 1;
                transform: scaleX(1);
            }
        }
        & > ul {
            width: calc(100% - 2rem);
            max-width: none;
            max-height: none;
            margin-left: 2rem;
            padding: 0;
            flex-direction: row;
            opacity: 1;
            pointer-events: auto;
            & > li {
                min-width: 5rem;
                flex: 1 1 8rem;
                justify-content: center;
                & > ul {
                    inset: 100% 0 auto 0;
                    max-width: none;
                }
                &:nth-last-child(3) > * ul {
                    inset: 0 100% auto auto;
                }
                /* theme & logout */
                &:nth-last-child(2),
                &:last-child {
                    flex: 0 1 3rem;
                    min-width: 1.5rem;
                    & svg {
                        position: absolute;
                        left: calc(50% - 0.75rem);
                    }
                    & span {
                        width: 3rem;
                        opacity: 0;
                    }
                }
            }
            &:hover svg {
                transform: translateX(0);
            }
        }
    }
    &.bottom:not(.left, .right, .up) {
        inset: auto 0 0 0;
        & .nav-logo,
        & .nav-logo-back {
            inset: auto auto 0 0;
            transform-origin: left bottom;
        }
        & ul {
            inset: auto auto 0 100%;
        }
        & > ul {
            margin: 0 0 0 2rem;
            & > li > ul {
                inset: auto 0 100% 0;
                max-width: none;
                display: flex;
                flex-direction: column-reverse;
            }
        }
        & ~ div#chat {
            margin-bottom: 2rem;
        }
    }
    &.top:not(.left, .right, .up) {
        & + nav {
            top: 2rem;
        }
        & ~ main .tab {
            padding-top: 5rem;
            & h1 {
                top: 1.1rem;
            }
        }
    }
    &.top.right + nav {
        right: 5rem;
    }
    /* &.bottom:not(.left, .right, .up) ~ div#chat {
        margin-bottom: 2rem;
    } */
    &.bottom.right ~ div#chat {
        &.toggle {
            transform: translate(calc(-75vw - 2rem), -2rem);
        }
        &.max {
            height: calc(100vh - 5rem);
            width: calc(100vw - 5rem);
        }
    }
    @media only screen and (max-width: 700px) {
        &.top:not(.left, .right, .up),
        &.bottom:not(.left, .right, .up) {
            /* & * > ul {
                width: 100%;
            } */
            & > ul > li {
                flex: 1 1 3rem;
                min-width: 2rem;
                gap: 0;
                & > span {
                    width: 0;
                    opacity: 0;
                    transition: opacity var(--transition-global),
                        width var(--transition-global);
                }
                &:not(:nth-last-child(2), :last-child):hover {
                    min-width: 8rem;
                    & > span {
                        width: 5rem;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
