.waves-ratio {
  width: 100%;
}

.waves {
  aspect-ratio: calc(140 / 15);
  margin-top: auto;
  right: 0;
  box-shadow: -2px .6rem var(--bg-nav);
}

.login-header svg.waves {
  width: 100%;
  margin-bottom: -1px;
}

nav svg.waves {
  width: 16rem;
  position: absolute;
  bottom: .8rem;
  box-shadow: -2px .6rem var(--bg-nav);
}

/* Login animation, inspired by Simple CSS Waves | Daniel Österman | 2019 */
nav .parallax > use {
  fill: var(--bg-nav);
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  fill: var(--bg);
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill-opacity: 0.7;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill-opacity: 0.5;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill-opacity: 0.3;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
